.DS_Store
.dart_tool/

.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies

build/
example/.flutter-plugins*
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

.idea
pubspec.lock
typeahead_group

doc